.main__about {
    color: #FFFFFF;
}

.main__about {
    background-image: url("../img/gradients/gradient2.svg");
    background-size: cover;

    padding-top: 100px;
    margin-top: -1px;
}
li.navbar__menu__elem {
    background-color: #154fb8;
    margin-bottom: 1px;

    z-index: 200;
}
a.navbar__menu__elem__a {
    color: #FFFFFF;
    font-weight: bold;
    padding: 14px 0 14px 20px;
    display: block;
}

ul.navbar__menu {
    display: none;
    z-index: 200;

    position: absolute;
    width: 100%;
    top: 61px;
}

h1.main__about__h1 {

    text-align: center;
}

h4.main__about__h4 {
    width: 44%;
    margin: 40px auto;
    text-align: center;
    color: #F2F2F2;
    font-weight: 100;
}

ul.main__about__ul {
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;

}

li.main__about__elem {
    width: 26%;
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;
}

p.main__about__elem__first {
    color: #333333;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

p.main__about__elem__second {
    color: #73738D;
    padding-top: 22px;
    font-size: 15px;
    font-weight: bold;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

img.about__elem__img {
    margin-top: 60px;
    text-align: center;
    /*width: 100%;*/
    /*height: 100%;*/
}

.main__about__lines {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 100px;
    height: 86px;
    justify-content: space-between;
    position: relative;
}

.line1 {
    width: 100px;
    height: 16px;
}

.line2 {
    width: 116px;
    height: 16px;
}

.line3 {
    width: 132px;
    height: 16px;
}

.main__service {
    position: relative;
}

.main__service::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-image: url('../img/gradients/gradient3.svg');
    background-repeat: no-repeat;
    width: 700px;
    height: 100%;
    z-index: -2;
    /*background-color: red;*/
}


.main__service__inner {
    display: flex;
    margin: -1px auto 0;
    width: 86%;
    padding-bottom: 60px;
}


.main__service__left {
    width: 50%;
    padding-right: 0%;
    margin-top: 220px;
}

.inner__service__left {
    width: 70%;
}

.main_service__right {
    width: 50%;
}

.inner__service__right {
    width: 100%;
}
img.service__left__img {
    width: 100%;
    height: 100%;
}

.inner__service__right {
    width: 100%;
}
h1.service__right__h1 {
    text-align: center;
    margin: 50px 0;
    font-weight: bold;
    font-size: 40px;
}

ul.service__right__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li.service__right__elem {
    text-align: center;
    width: 44%;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
    font-weight: bold;
    margin-bottom: 30px;
    padding-bottom: 24px;
}

img.service__right__img {
    text-align: center;
    margin-top: 24px;
    font-size: 14px;
}

p.service__right__first {
    color: #333333;
    width: 90%;
    margin: 20px auto 11px;
}

p.service__right__second {
    color: #73738D;
    width: 90%;
    margin: 0 auto;
}

.service__right__submit {
    text-align: center;
    margin-top: 20px;
}

button.service__right__submit {
    width: 160px;
    height: 42px;
    border: 0;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 10px 20px;
    background-color: #1943EF;
    box-sizing: border-box;
    font-size: 18px;
}



/* Reviews */

.main__reviews {
    background-color: #F0F0F0;
    position: relative;
}

/*.blue__line {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    height: 16px;*/
/*}*/



h1.main__reviews__h1 {
    text-align: center;
    color: #333333;
    font-size: 40px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 800;
}

.main__reviews__wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 70%;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
}

.reviews__wrapper__left {
    width: 50%;
}

img.reviews__wrapper__left__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews__wrapper__right {
    width: 50%;
}

h1.reviews__right__title {
    margin: 40px auto;
    text-align: center;
    font-weight: bold;
    width: 80%;
}

h1.reviews__right__h1 {
    text-align: center;
    color: #1943EF;
    font-size: 30px;
    padding-top: 14px;
    font-weight: bold;
}

h5.reviews__right__h5 {
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 10px;

}

ul.reviews__right__ul {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

li.reviews__right__elem {
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
    width: 100px;
    padding: 10px 10px;
    text-align: center;
}

p.reviews__wrapper__right__first {

    width: 80%;
    margin: 50px auto 30px;
    text-align: center;
    color: #73738D;
    font-size: 18px;
    font-weight: bold;
}

p.reviews__wrapper__right__second {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}



.main__reviews__arrows {
    padding: 40px 0 100px;
    display: flex;
    justify-content: center;
}

.main__arrows {
    padding: 0 20px;
    cursor: pointer;
    color: #73738D;
}

.main__feedback {
    background: linear-gradient(180deg, rgba(25, 67, 239, 0.8) 0%, rgba(5, 13, 46, 0.8) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-weight: bold;
}

ul.main__feedback__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

h1.main__feedback__h1 {
    padding-top: 60px;
    text-align: center;
}

h5.main__feedback__h5 {
    padding-top: 30px;
}
.main__feedback__inputs {
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 70px;
    position: relative;
    height: 42px;
}

hr.service__line {
    border: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 30%;
    background-color: #FFFFFF;
    margin: 0;
}

hr.service__line__one {

}

hr.service__line__two {
    bottom: 50px;
}

hr.service__line__three {
    bottom: 100px;
}